.weather-app-wrapper {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px;
}


.weather-app {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(58deg, rgb(11, 44, 166) 9%, rgb(103, 213, 239) 78%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}



h1 {
  color: whitesmoke;
  font-size: 38px;
  font-size: 40px;
  font-weight: meduim;
  line-height: 28px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-transform: capitalize;
}

li::first-letter {
  text-transform: capitalize;
}

li,
h6 {
  list-style: none;
  color: whitesmoke;
  font-weight: lighter;
  text-align: center;
  font-size: medium;
}

h6 {
  line-height: 20px;
  font-size: 15px;

}

span {
  color: whitesmoke;
}

footer {
  text-align: center;
}

img {
  width: 60px;
}

.search-btn {
  border: none;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  padding: 0px 10px;
}

.mb-3 {
  padding-top: 25px;
}

.WeatherForecast {
  border-bottom: 1px solid whitesmoke;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}

.units {
  position: relative;
  font-size: 15px;
  top: -13px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.d-flex.justify-content-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong {
  font-size: xx-large;
  color: whitesmoke;
}

.flex {
  padding-right: 30px;
}

.weather-temperature .active {
  color: whitesmoke;
  cursor: default;
  text-decoration: none;
}

.weather-temperature.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

hr {
  color: whitesmoke;
}