.weather-app-wrapper {
  max-width: 800px;
  margin: 10px auto;
}


.weather-app {
  padding: 40px;
  border: 1px solid #878787;
  border-radius: 10px;
}



h1 {
  color: #878787;
  font-size: 38px;
  font-size: 40px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  pad: 0;
}

li,
h6 {
  list-style: none;
  color: black;

  font-weight: lighter;
  text-align: center;
  padding-right: 30px;

}

img {
  width: 80px;
  padding-right: 30px;
}

.search-btn {
  background: #885df1;
  border: none;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  padding: 0px 10px;
}

.WeatherForecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
  
}
.WeatherForecast .forecast-time {
  color: rgba(39, 33, 66, .4);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.col {
  flex: 1 0;
}